<ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-item">
        <a href="{{ url_for('user.login') }}"  class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Login">Login</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="{{ url_for('user.register') }}"  class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-plus" style="font-size: 26px;"></i>
            <div data-i18n="Register">Register</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Forgot-Password"  class="menu-link">
            <i class="menu-icon tf-icons bx bx-home"></i>
            <div data-i18n="Forgot Password ?">Forgot Password ? </div>
        </a>
    </li>
</ul>