<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">



        <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template" target="_blank"
            class="footer-link me-4">Template Source</a>

            <a href="https://themeselection.com/"
                target="_blank" class="footer-link me-4">Thanks To ❤️</a>

        <a href="https://github.com/sumon2002-code" target="_blank"
            class="footer-link me-4">Source Code</a>


        <a href="https://github.com/sumon2002-code" target="_blank"
            class="footer-link d-none d-sm-inline-block">Developer</a>

    </div>
    </div>
</footer>