<div class="app-brand demo ">
    <a href="index.html" class="app-brand-link">
        <span class="app-brand-logo demo">

        <img src="/static/assets/img/favicon/favicon.ico" alt="ICON" >

        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform:capitalize ;">Calendar</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
</div>

<div class="menu-inner-shadow"></div>