{% extends 'user/base.html' %} {% block content %}

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
      <li class="nav-item">
        <a class="nav-link active"><i class="bx bx-user me-1"></i> Account</a>
      </li>
    </ul>
    <div class="card mb-4">
      <h5 class="card-header">Profile Details</h5>
      <!-- Account -->
      <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
          <img src="/static/assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100"
            id="uploadedAvatar">
          <div class="button-wrapper">
            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
              <span class="d-none d-sm-block">Upload new photo</span>
              <i class="bx bx-upload d-block d-sm-none"></i>
              <input disabled type="file" id="upload"
               class="account-file-input" hidden="" accept="image/png, image/jpeg">
            </label>
            <button disabled type="button" class="btn btn-outline-secondary account-image-reset mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Reset</span>
            </button>

            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="card-body">
        <form id="formAuthentication" class="mb-3" action="{{ request.full_path }}" method="POST">
          {{ form.hidden_tag() }} {% for field in form if not field.widget.input_type == 'hidden' %} {% if
          field.widget.input_type == 'checkbox' %}
          <div class="form-group form-check">
            {{field.label(class="form-check-label")}} {{field(class="form-check-input")}}
          </div>
          <br> {% endif %} {% if field.widget.input_type in ['text', 'password'] %}
          <div class="form-group">
            {{field.label(class="col-md-12")}}
            <div class="col-md-12">
              {{ field(class="form-control form-control-line", placeholder=field.description) }}
            </div>
          </div>
          <br> {% endif %} {% endfor %}
          <br>
          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-primary d-grid w-100" type="submit">
                {{ submit_button or title }}
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /Account -->
    </div>
    <div class="card">
      <h5 class="card-header">Delete Account</h5>
      <div class="card-body">
        <div class="mb-3 col-12 mb-0">
          <div class="alert alert-warning">
            <h6 class="alert-heading mb-1">Are you sure you want to delete your account?</h6>
            <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
          </div>
        </div>

          <a href="{{url_for('user.delete')}}" class="btn btn-danger deactivate-account">Deactivate Account</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}