{% extends "application/base.html" %}


{% block page_js %}
<!-- Vendors JS -->
<script src="/static/assets/vendor/libs/fullcalendar/fullcalendar.js"></script>
<script src="/static/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="/static/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="/static/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
<script src="/static/assets/vendor/libs/select2/select2.js"></script>
<script src="/static/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="/static/assets/vendor/libs/moment/moment.js"></script>
<!-- Page JS -->
<script src="/static/assets/js/app-calendar-events.js"></script>
<script src="/static/assets/js/app-calendar.js"></script>
{% endblock page_js %}


{% block page_css %}
<!-- Vendors CSS -->
<link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/typeahead-js/typeahead.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/flatpickr/flatpickr.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/quill/editor.css" />
<link rel="stylesheet" href="/static/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
<!-- Page CSS -->
<link rel="stylesheet" href="/static/assets/vendor/css/pages/app-calendar.css" />
{% endblock page_css %}


{% block content %}
<!-- Group|Lable Data -->
<samp id='groupDataTag' 
      url_get="{{url_for('group.send_json')}}" 
      data='{ "Personal": "danger" }' 
      hidden></samp>

<!-- 
  I know this method is very stupid,
   but I didn't have enough time to make it!
   I will definitely fix it 
-->
<script>
let dataTag = document.getElementById('groupDataTag');
xhr = new XMLHttpRequest();
xhr.open("GET", dataTag.getAttribute('url_get'), true);
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.onload = function () {
    dataTag.setAttribute('data', this.responseText)};
xhr.send()
</script>
<!-- /Group|Lable Data -->


<div class="card app-calendar-wrapper">
  <div class="row g-0">
    <!-- Calendar Sidebar -->
    <div class="col app-calendar-sidebar" id="app-calendar-sidebar">
      <div class="border-bottom p-4 my-sm-0 mb-3">
        <div class="d-grid">
          <button class="btn btn-primary btn-toggle-sidebar" data-bs-toggle="offcanvas"
            data-bs-target="#addEventSidebar" aria-controls="addEventSidebar">
            <i class="bx bx-plus"></i>
            <span class="align-middle">Add Event</span>
          </button>
        </div>
      </div>
      <div class="p-4">
        <!-- inline calendar (flatpicker) -->
        <div class="ms-n2">
          <div class="inline-calendar"></div>
        </div>

        <hr class="container-m-nx my-4">

        <!-- Filter -->
        <div class="mb-4">
          <small class="text-small text-muted text-uppercase align-middle">Filter</small>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input select-all" type="checkbox" id="selectAll" data-value="all" checked>
          <label class="form-check-label" for="selectAll">View All</label>
        </div>

        <div class="app-calendar-events-filter">
          {% for title, color in _groups %}
            <div class="form-check form-check-{{color}} mb-2">
              <input class="form-check-input input-filter" type="checkbox" id="select-{{title.lower()}}" data-value="{{title.lower()}}"
                checked>
              <label class="form-check-label" for="select-{{title.lower()}}">{{title}}</label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /Calendar Sidebar -->

    <!-- Calendar & Modal -->
    <div class="col app-calendar-content">
      <div class="card shadow-none border-0">
        <div class="card-body pb-0">
          <!-- FullCalendar -->
          <div id="calendar"></div>
        </div>
      </div>
      <div class="app-overlay"></div>
      <!-- FullCalendar Offcanvas -->
      <div class="offcanvas offcanvas-end event-sidebar" tabindex="-1" id="addEventSidebar"
        aria-labelledby="addEventSidebarLabel">
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title mb-2" id="addEventSidebarLabel">Add Event</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form action="{{ url_for('event.add') }}" class="event-form pt-0" id="eventForm" onsubmit="return false">
            <div class="mb-3">
              <label class="form-label" for="eventTitle">Title</label>
              <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="Event Title" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="eventLabel">Label</label>
              <select class="select2 select-event-label form-select" id="eventLabel" name="eventLabel">

                {% for title, color in _groups %}
                <option data-label="{{color}}" value="{{title}}">{{title}}</option>  
                {% endfor %}
                
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="eventStartDate">Start Date</label>
              <input type="text" class="form-control" id="eventStartDate" name="eventStartDate"
                placeholder="Start Date" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="eventEndDate">End Date</label>
              <input type="text" class="form-control" id="eventEndDate" name="eventEndDate" placeholder="End Date" />
            </div>
            <div class="mb-3">
              <label class="switch">
                <input type="checkbox" class="switch-input allDay-switch" disabled/>
                <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
                <span class="switch-label">All Day</span>
              </label>
            </div>
            <div class="mb-3">
              <label class="form-label" for="eventURL">Event URL</label>
              <input type="url" class="form-control" id="eventURL" name="eventURL"
                placeholder="https://www.google.com" />
            </div>
            <div class="mb-3 select2-primary">
              <label class="form-label" for="eventReminder">Reminder</label>
              <select class="select2 select-event-guests form-select" 
                id="eventReminder" name="eventReminder" multiple>
                <option value="5">Minutes 5</option>
                <option value="10">Minutes 10</option>
                <option value="15">Minutes 15</option>
                <option value="30">Minutes 30</option>
                <option value="45">Minutes 45</option>
                <option value="60">Hour 1</option>
                <option value="90">Hour 1.5</option>
                <option value="120">Hour 2</option>
                <option value="180">Hour 3</option>
                <option value="240">Hour 4</option>
                <option value="300">Hour 5</option>
              </select>
              <span><small>
                For Multiple Seletct [Cltr + Click]
              </small></span>
            </div>
            <!-- <div class="mb-3">
              <label class="form-label" for="eventLocation">Location</label>
              <input type="text" class="form-control" id="eventLocation" name="eventLocation"
                placeholder="Enter Location" />
            </div> -->
            <div class="mb-3">
              <label class="form-label" for="eventDescription">Description</label>
              <textarea class="form-control" name="eventDescription" id="eventDescription"></textarea>
            </div>
            <div class="mb-3 d-flex justify-content-sm-between justify-content-start my-4">
              <div>
                <button type="submit" class="btn btn-primary btn-add-event me-sm-3 me-1">Add</button>
                <button type="reset" class="btn btn-label-secondary btn-cancel me-sm-0 me-1"
                  data-bs-dismiss="offcanvas">Cancel</button>
              </div>
              <div>
                <a class="btn btn-label-danger btn-delete-event d-none">Delete</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- /Calendar & Modal -->
  </div>
</div>

<script>
  function asfsaf(){
    console.log('submit')
  }
  let formev = document.getElementById('eventForm');
  formev.addEventListener('submit', asfsaf);
</script>
{% endblock content %}