{% extends "application/base.html" %} {% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

  <!-- Task List Table -->
  <div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-title">To Do List</h5>
      <div class="d-flex justify-content-between align-items-center row py-3 gap-4 gap-md-0">
        <div class="col-md-4 d-flex align-items-center justify-content-end flex-md-row flex-column ">

          <form action="{{url_for('task.manage')}}" method="get"
            class="d-flex align-items-center justify-content-end flex-md-row flex-column">

            <select class="form-select text-capitalize" name="group">
              {% for group in groups %}
                {% if _filter_group == group.title %}
                  <option value="{{group.title}}" selected>
                    {{group.title}} 
                  </option>
                {% else %}
                  <option value="{{group.title}}">
                    {{group.title}}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            <button class="btn btn-primary" style="margin: 10px;" type="submit">Filter</button>

          </form>
        </div>



        <div class="col-md-4 user_status">
          <button class="dt-button add-new btn btn-primary" style="width: 100%;" tabindex="0"
            aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasAddUser">

            <span>
              <i class="bx bx-plus me-0 me-sm-1"></i>
              <span class="d-none d-sm-inline-block">
                Add Task
              </span>
            </span>

          </button>
        </div>

      </div>
    </div>

    <!-- Table Task -->
    <div class="card-datatable table-responsive">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">


        <!-- Table -->
        <table class="datatables-users table border-top dataTable no-footer dtr-column" id="DataTables_Table_0"
          aria-describedby="DataTables_Table_0_info">
          <thead>
            <tr>
              <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1"
                style="width: 37.75px; display: none;" aria-label="">

              </th>

              <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 101.516px;" aria-sort="descending" aria-label="User: activate to sort column ascending">

                Name
              </th>

              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 101.781px;" aria-label="Plan: activate to sort column ascending">

                Group
              </th>

              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 133.453px;" aria-label="Billing: activate to sort column ascending">

                Time/Date
              </th>

              <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 136.891px;" aria-label="Actions">

                Actions
              </th>

            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr class="odd" title="Description : {{task.description}}">
              <td class="  control" tabindex="0" style="display: none;"></td>
              <td class="sorting_1">
                <div class="d-flex justify-content-start align-items-center user-name">
                  <div class="avatar-wrapper">

                    <div class="d-flex flex-column">
                      <span class="fw-medium">{{task.name}}</span>
                    </div>
                  </div>
              </td>
              <td>
                <span class="text-truncate d-flex align-items-center">
                  {{task.group_title}}
                </span>
              </td>
              <td>
                <span class="fw-medium">
                  {{epoch_to_datetime(task.time_start)}}

                </span>
              </td>
              <td>
                <div class="d-inline-block text-nowrap">

                  <a href="{{url_for('task.switching', id=task.id)}}">
                    {% if task.done %}
                    <span class="badge bg-label-success">Done</span>
                    {% else %}
                    <span class="badge bg-label-warning">Warning</span>
                    {% endif %}

                  </a>

                  <a href="{{url_for('task.edit', id=task.id)}}">
                    <button class="btn btn-sm btn-icon">
                      <i class="bx bx-edit"></i>
                    </button>
                  </a>

                  <a href="{{url_for('task.remove', id=task.id)}}">
                    <button class="btn btn-sm btn-icon delete-record">
                      <i class="bx bx-trash"></i>
                    </button>
                  </a>

                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- /Table -->





        <div class="row mx-2">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
              Showing {{tasks|length}}</div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#"
                    aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#"
                    aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Offcanvas to add new Task -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasAddUserLabel" class="offcanvas-title">
          Add User
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body mx-0 flex-grow-0">
        <form action="{{ url_for('task.add') }}" method="post"
          class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework">

          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.title.label(class='form-label') }}
            {{ form.title(class='form-control') }}
          </div>



          <div class="mb-3">
            {{ form.deadline.label(class='form-label') }}
            {{ form.deadline(class='form-control') }}
          </div>

          <div class="mb-3">
            <div class="position-relative">
              {{ form.group.label(class='form-label') }}
              {{ form.group(class='select2 form-select select2-hidden-accessible') }}
            </div>
          </div>

          <div class="mb-3">
            {{ form.description.label(class='form-label') }}
            {{ form.description(class='form-control') }}
          </div>


          <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">
            Submit
          </button>
          <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">
            Cancel
          </button>
          <input type="hidden">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#').click();

</script>
{% endblock content %}