<ul class="menu-inner py-1">
  <!-- Account & Profile -->
  <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Account</span>
  </li>
  <li class="menu-item">
      <a href="app-calendar.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Calendar">Profile</div>
      </a>
  </li>

  <!-- Apps & Pages -->
  <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Apps</span>
  </li>
  <li class="menu-item">
      <a href="app-calendar.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-calendar"></i>
          <div data-i18n="Calendar">Calendar</div>
      </a>
  </li>
  <li class="menu-item">
      <a href="app-calendar.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-task"></i>
          <div data-i18n="Calendar">To Do</div>
      </a>
  </li>

  <!-- Developer -->
  <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Source</span>
  </li>
  <li class="menu-item">
      <a href="app-calendar.html" class="menu-link">
          <i class="menu-icon tf-icons bx bxl-github "></i>
          <div data-i18n="Developer">Developer</div>
      </a>
  </li>
  <!-- Logout -->
  <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Logout</span>
  </li>
  <li class="menu-item">
      <a href="app-calendar.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-exit"></i>
          <div data-i18n="Logout">Logout</div>
      </a>
  </li>

</ul>
